- name: install openTofu Debian
  hosts: tofu-vm
  become: yes

  tasks:
  - name: donwload the installer script
    ansible.builtin.get_url:
      url: https://get.opentofu.org/install-opentofu.sh
      dest: "/tmp/install-opentofu.sh"
      mode: "0755"

  - name: run installer
    ansible.builtin.command: "./install-opentofu.sh --install-method apk"
    args:
      chdir: /tmp

  - name: Remove OpenTofu installer script
    ansible.builtin.file:
      path: "/tmp/install-opentofu.sh"
      state: absent
  
  - name: Check version tofu
    ansible.builtin.command: "tofu --version"
    register: tofuVersion


  - name: Print version 
    ansible.builtin.debug:
      msg: "{{ tofuVersion.stdout }}"